<!doctype html>
<html lang="en" ng-app="katbotApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Katbot</title>

    <link rel="stylesheet" href="index.css">

    <script src="/webjars/angular/1.5.8/angular.js"></script>
    <script src="/webjars/angular-cookies/1.5.8/angular-cookies.js"></script>
    <script src="index.js"></script>
</head>
<body ng-controller="RootController">
<ul id="navbar">
    <li ng-click="section = KARMA" ng-class="section === KARMA ? 'selected' : ''">Karma</li>
    <li ng-click="section = SECURITY" ng-class="section === SECURITY ? 'selected' : ''">Security</li>
</ul>
<div id="content">
    <karma ng-if="section === KARMA"></karma>
    <security ng-if="section === SECURITY"></security>
</div>
</body>
</html>